In [10]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
os.chdir(os.getcwd().replace('notebooks', 'data'))

df = pd.read_csv('data.csv')
df.columns = ['index', 'name', 'sentiment', 'text']

In [12]:
df = df[['text', 'sentiment']]

In [13]:
df.dropna(inplace=True)

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
df = df[df['sentiment'] != 'Irrelevant']

In [16]:
df['sentiment'] = df['sentiment'].map({'Positive': 2, 'Negative': 1, 'Neutral': 0})

In [17]:
df.sample(10)

                                                    text  sentiment
37710  It's like Blizzard all over again, so I've sus...          1
26381  I think the most nuts thing Ubisoft has ever d...          1
45772  He must be at the adorable Marriot hotel left ...          0
49459   Ea sports fifa is a fraud and script too obvious          1
69996  You know how to buy consoles for certain games...          2
58783  All my success in the past has come from peopl...          1
37368  Pretty happy with a 6-3 score. I've been playi...          2
30565                                           Got some          0
41971  As for the government, it banned these data se...          1
69633                        Looking forward actually to          2

In [18]:
df.to_csv('clean.csv', index=False)