In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
os.chdir(os.getcwd().replace('notebooks', 'data'))

df = pd.read_csv('data.csv')

In [3]:
df.sample(10)

        Unnamed: 0                                               text  label
400217      400217  i didn t feel safe leaving alyssa alone long e...      1
155899      155899  i like walking into the gallery and feeling as...      1
347464      347464  i started to feel restless and to sense the en...      4
378401      378401  i don t think most content producers and blogg...      1
364608      364608                       im really not feeling morose      0
2454          2454  i go to sleep he snuggles up next to me and i ...      4
222281      222281                             i feel deeply honoured      1
2638          2638  i feel like such a liar when i talk to him my ...      1
174143      174143  im in the middle of my conversion to understan...      4
325030      325030                      i was feeling pretty thrashed      1

In [4]:
df.columns = ['unnamed', 'text', 'emotion']

In [5]:
df.drop(columns=['unnamed'], inplace=True)

In [6]:
df.sample(10)

                                                     text  emotion
211780  i can understand that to me your heart was hur...        0
77650   i was sitting at my computer the other day day...        4
181046  i looked at the weathered wooden needles i fel...        1
285139  i get too wrapped up in my thoughts i have onl...        1
135138  i was like please just watch this minute pingu...        2
216542  i can feel you lifting me up and supporting me...        1
405283  i saw a man too cool to feel offended with a k...        3
33437                  i got the feeling that he liked me        2
217269                   i feel very out of place as well        1
401004  i feel as if i have been neglectful of posting...        0

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.shape

(416123, 2)

In [9]:
df.to_csv('clean.csv', index=False)